.backgroundCreate {
    /* background-image: url("../../img/landing.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

.containerCreate {
    display: flex;
    justify-content: center;
}

.containerForm {
    background-color: rgba(34,34,34, 0.9);
    border-radius: 20px;
    margin: 0px 10px 25px;
    padding: 20px;
    width: 1000px;
}

.containerCreateTitle {
    display: flex;
    justify-content: center;
}

.titleCreate {
    color: #fff;
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0px 0px 40px;
    text-align: center;
}

.containerCreateBody {
    display: flex;
    justify-content: space-around;
}

.columnsForm {
    width: 416px
}

.fontBodyCreate {
    color: #fff;
    font-size: 0.9em;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px
}

.fontWeightLight {
    font-weight: 500;
}

.blockCreate {
    display: block
}

.fontErrorsCreate {
    color: orange;
    font-size: 0.9em;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin-top: 5px;
}

.inputName {
    width: 200px;
}

.inputDescription {
    width: 400px;
    height: 83px;
    overflow: auto;
}

.inputRelease {
    width: 70px;
}

.inputRating {
    width: 40px;
}

.inputImgURL {
    width: 400px;
}

.listCreate {
    margin: 0px 10px;
}
.eraseCreate {
    border: none;
    background: none;
    color: red;
    cursor: pointer;
}

.containerListCreate {
    display: flex;
    margin-top: 5px;
}

.containerButtonCreate {
    display: flex;
    justify-content: center;
}

.createActive {
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background: green;
    color: #fff;
    box-shadow: inset 0 5px 10px rgba(0,0,0,.1), 0 2px 5px rgba(0,0,0,.5);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4em;
    padding: 10px 10px;
    margin-top: 30px;
}

.createActive:hover {
    background: #fff;
    color: green
}

.createDisabled {
    border: none;
    border-radius: 20px;
    box-shadow: inset 0 5px 10px rgba(0,0,0,.1), 0 2px 5px rgba(0,0,0,.5);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4em;
    padding: 10px 10px;
    margin-top: 30px;
}

@media screen and (max-width: 950px) {
    .containerCreateBody {
        flex-direction: column;
        align-items: center;
        gap: 2.5vh;
    }
}

@media screen and (max-width: 500px) {
    /* .backgroundCreate {
        background-image: url("../../img/landing-mario.jpg");
    } */
    .containerListCreate {
        flex-direction: column;
    }
    .columnsForm {
        width: 316px;
    }
    .inputDescription,
    .inputImgURL {
        width: 300px;
    }
}

@media screen and (max-width: 400px) {
    .columnsForm {
        width: 216px;
    }
    .inputDescription {
        width: 202px;
    }
    .inputImgURL {
        width: 200px;
    }
}