/* Modo light end */
.conteiner-general-footer-light {
    padding: 20px 0;
    font-family: 'Roboto', sans-serif;
    transition-duration: 01s;
    background-color: rgb(224, 224, 224);
    color: #333333;
    position: absolute;

}

.conteiner-footer-dark {
    display: flex;
    justify-content: center;
}



/* Modo light fin */

 /* --------------------------------------------------------- */


/*Modo Dark*/


.conteiner-general-footer-dark {
    padding: 20px 0;
    font-family: 'Roboto', sans-serif;
    transition-duration: 01s;
    background-color: #333333;
    color: rgb(255, 255, 255);

}

.conteiner-footer-dark {
    display: flex;
    justify-content: center;

    
}

/* .footer-image-dark {


}

.conteiner-span-dark {
    

} */

/* Modo dark fin */